<div class="col-md-12">
    <div class="row">
        {% include 'UsersBundle::panel.html.twig' with { panelButtons: ''} %}
    </div>
    <div class="row">
        {% block main %}{% endblock %}
    </div>
</div>