{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'UsersBundle::main.html.twig' %}
        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Name'|trans({}, 'systems') }}</th>
                    <th>{{ 'Active'|trans({}, 'systems') }}</th>
                    <th>{{ 'Confirm'|trans({}, 'systems') }}</th>
                    <th>{{ 'Date'|trans({}, 'systems') }}</th>
                    <th>{{ 'E-mail'|trans({}, 'systems') }}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><input type="checkbox" value="{{ user.id }}" name="mark[]"/></td>
                            <td>{{ user.id }}</td>
                            <td>
                                <a href="{{ url('cms_users_view', {'id': user.id}) }}">
                                    {{ user.lastName }} {{ user.name }} {{ user.middleName }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ url('cms_users_change_status', {id: user.id}) }}">
                                    <span class="lead glyphicon{% if user.isActive %} text-success glyphicon-ok-circle{% else %} text-danger glyphicon-ban-circle{% endif %}"></span>
                                </a>
                            </td>
                            <td>
                                <span class="lead glyphicon{% if user.isConfirm %} text-success glyphicon-ok-circle{% else %} text-danger glyphicon-ban-circle{% endif %}"></span>
                            </td>
                            <td>{{ user.dateCreate|date('d.m.y') }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href='{{ url('cms_users_edit', {'id': user.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_users_delete', {'id': user.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}