{% extends "UsersBundle::main.html.twig" %}

{% block main %}
    {% form_theme form 'UsersBundle::fields.html.twig' %}
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
            <div class="col-md-8">
            {{ form_errors(form) }}
            {{ form_row(form.last_name,{
                    'label': 'Last name'|trans({},'messages'),
                })
            }}
            {{ form_row(form.name,{
                    'label': 'Name'|trans({},'messages'),
                })
            }}
            {{ form_row(form.middle_name,{
                    'label': 'Middle name'|trans({},'messages'),
                })
            }}
            {{ form_row(form.password,{
                    'label': 'Password'|trans({},'messages'),
                })
            }}
            {{ form_rest(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm text-right">
                    <input type="submit" class="btn btn-success btn-sm" data-loading-text="Saving..."
                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                    <a href="{{ url('cms_users_profile') }}"
                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
