{% extends "UsersBundle::main.html.twig" %}

{% block main %}
    <div class="user_profile">
        <h2>{{user.lastName()}} {{user.name()}} {{user.middleName}}</h2>
        <div><b>{{'E-mail'|trans}}:</b> {{user.email}}</div>
        <div class="user_roles">
            <b>{{'Roles'|trans}}:</b>
            {% set roles = user.getRoles() %}
            {% if roles|length %}
                <ul class="list-unstyled" id="roles">
                {% for role in roles %}
                    <li>{{role.name}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <a class="btn btn-sm btn-primary" href="{{url('cms_users_profile_edit')}}">{{'Edit'|trans}}</a>
        </div>
    </div>
{% endblock %}
