{% extends "UsersBundle::main.html.twig" %}

{% block main %}
    {% form_theme form 'UsersBundle::fields.html.twig' %}
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-header">
                    <h1>{{'Registration'|trans}}</h1>
                </div>
            {{ form_errors(form) }}
            {{ form_row(form.last_name,{
                    'label': 'Last name'|trans({},'messages'),
                })
            }}
            {{ form_row(form.name,{
                    'label': 'Name'|trans({},'messages'),
                })
            }}
            {{ form_row(form.middle_name,{
                    'label': 'Middle name'|trans({},'messages'),
                })
            }}
            {{ form_row(form.email,{
                    'label': 'E-mail'|trans({},'messages'),
                })
            }}
            {{ form_row(form.password,{
                    'label': 'Password'|trans({},'messages'),
                })
            }}            
            {{ form_rest(form) }}
            </div>
            <div class="col-md-8 col-md-offset-2">
                <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                       value="{{ 'Registration'|trans }}"/>
            </div>
        </div>
    </form>
{% endblock %}
