{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'UsersBundle::main.html.twig' %}
        {% block main %}
            <div class="row">
                <div class="col-md-12">
                    <div class="user_profile">
                        <h2>{{ user.lastName() }} {{ user.name() }} {{ user.middleName }}</h2>
                    </div>
                    <div>
                        <b>{{ 'E-mail'|trans }}:</b> {{ user.email }}
                    </div>
                    <div class="user_roles">
                        <b>{{ 'Roles'|trans }}:</b>
                        {% set roles = user.getRoles() %}
                        {% if roles|length %}
                            <ul class="list-unstyled" id="roles">
                                {% for role in roles %}
                                    <li>{{ role.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="well well-sm text-right">
                        <a class="btn btn-sm btn-primary"
                           href="{{ url('cms_users_edit', {'id': user.id}) }}">{{ 'Edit'|trans }}</a>
                        <a class="btn btn-sm btn-default" href="javascript:history.go(-1)">{{ 'Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}