{% extends '@Users/main.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <h1>{{ 'Forgot password'|trans }}</h1>

            {% if error %}
                <div class="well text-danger">{{ error.message|trans({}, 'messages') }}</div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="email" name="email" value=""
                           placeholder="E-mail"/>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">{{ "Send"|trans({},'messages') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}