<ul class="breadcrumb">
    <li><a href="{{url('f_account_show')}}">{{app.user.last_name}} {{app.user.name}}</a> <span class="divider">|</span></li>
    <li><a href="{{url('f_account_logout')}}">Выход</a></li>
</ul>