<html>
<title>{{ 'lables.mail.forgot_password.title'|trans({}, 'users') }}</title>

<body>
<h3>{{ 'lables.mail.forgot_password.text'|trans({}, 'users') }}</h3>

<p>
    {{ 'lables.mail.forgot_password.user'|trans({}, 'users') }}: {{ user.email }}</br>
    {{ 'lables.mail.forgot_password.password'|trans({}, 'users') }}: {{ password }}
</p>
{{ 'lables.mail.forgot_password.confirm_text'|trans({}, 'users') }}
</body>
</html>