<html>
<title>{{ 'lables.mail.registration.title'|trans({}, 'users') }}</title>

<body>
<h3>{{ 'lables.mail.registration.text'|trans({}, 'users') }}</h3>

<p>
    {{ 'lables.mail.registration.user'|trans({}, 'users') }}: {{ user.email }}</br>
    {{ 'lables.mail.registration.password'|trans({}, 'users') }}: {{ password }}
</p>
{{ 'lables.mail.registration.confirm_text'|trans({}, 'users') }}
<a href="{{ url(confirm_registration_route_name, {'hash': user.hash}) }}">{{ 'lables.mail.registration.confirm_link'|trans({}, 'users') }}</a>
</body>
</html>