<div id="login" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'titles.forgot_password'|trans({}, 'users') }}</h1>
            <hr/>
            {{ form_errors(form) }}
            <form method="post">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="{{ 'labels.ok'|trans({}, 'users') }}">
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
</div>