<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <h1>{{ 'Authentication'|trans }}</h1>

        {% if _error %}
            <div class="well text-danger">{{ _error.message|trans({}, 'messages') }}</div>
        {% endif %}
        <form action="{{ url('cms_users_login_check') }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control input-sm" id="username" name="_username" value="{{ _username }}"
                       placeholder="E-mail"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-sm" id="password" name="_password"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <small>
                        <a href="{{ url('cms_users_forgot_pass') }}">{{ "Forgot your password?"|trans() }}</a><br/>
                        <a href="{{ url('cms_users_registration') }}">{{ 'Registration'|trans({},'messages') }}</a>
                    </small>
                    <input type="hidden" name="_target_path" value="/"/>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">{{ "Login"|trans({},'messages') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>