<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <h1>{{ 'Registration'|trans }}</h1>

        <form action="{{ url('cms_users_registration') }}" method="post">
            <div class="form-group">a
                <input type="text" class="form-control input-sm" id="username" name="_username" value=""
                       placeholder="E-mail"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-sm" id="password" name="_password"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <small>
                        <a href="{{ url('cms_users_forgot_pass') }}">{{ "Forgot your password?"|trans() }}</a><br/>
                        <a href="{{ url('cms_users_registration') }}">{{ 'Registration'|trans({},'messages') }}</a>
                    </small>
                    <input type="hidden" name="_target_path" value="/"/>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">{{ "Registration"|trans({},'messages') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>