{% spaceless %}
    {% if app.user %}
        {{ app.user.lastName }} {{ app.user.name }} {{ app.user.middleName }} <a class="btn btn-xs btn-success"
                                                                                 href="{{ url('cms_users_logout') }}">{{ 'Logout'|trans({}, 'systems') }}</a>
    {% endif %}
{% endspaceless %}