{% extends "UsersBundle::main.html.twig" %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/users/js/UsersUIParameters.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.UsersUIParameters();
        });
    </script>
{% endblock %}

{% block main %}
    {% form_theme form 'UsersBundle::fields.html.twig' %}
    <form method="POST">
        <div class='row'>
            <div class='col-md-12'>
                {{ form_errors(form) }}
                {{ form_row(form.main.default_user_role,{
                        'label': 'main-default_user_role'|trans({},'messages'),
                    })
                }}
                {{ form_row(form.registration.enabled,{
                        'label': 'registration-enabled'|trans({},'messages'),
                    })
                }}
                {{ form_row(form.registration.confirm,{
                        'label': 'registration-confirm'|trans({},'messages'),
                    })
                }}
                {{ form_row(form.registration.send_email,{
                        'label': 'registration-send_email'|trans({},'messages'),
                    })
                }}
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm text-right">
                    <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                    <a href="javascript:history.go(-1)"
                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}