{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed 'UsersBundle::main.html.twig' %}
        {% block main %}
            {% form_theme form 'UsersBundle::fields.html.twig' %}
                <div class='col-md-12'>
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_errors(form) }}
                                {{ form_row(form.name,{
                                'label': 'Name'|trans({},'messages'),
                                }) }}
                                {{ form_row(form.role,{
                                'label': 'Role'|trans({},'messages'),
                                }) }}
                                {{ form_row(form.parent,{
                                'label': 'Parent'|trans({},'message'),
                                }) }}
                                {{ form_row(form.users, {
                                'label': 'Users'|trans({},'message')
                                }) }}
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm text-right">
                                    <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        {% endblock %}
    {% endembed %}
{% endblock %}