{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed 'UsersBundle::main.html.twig' %}
        {% block main %}
            <div class='row'>
                {% form_theme form 'UsersBundle::fields.html.twig' %}
                <div class='col-md-12'>
                    {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.name,{
                        'label': 'Name'|trans({},'messages'),
                        }) }}
                        {{ form_row(form.role,{
                        'label': 'Role'|trans({},'messages'),
                        }) }}
                        {{ form_row(form.parent,{
                        'label': 'Parent'|trans({},'message'),
                        }) }}
                        {{ form_row(form.users, {
                        'label': 'Users'|trans({},'message')
                        }) }}

                        {{ form_rest(form) }}

                        <div class="well well-sm text-right">
                            <input type="submit" class="btn btn-sm btn-primary"
                                   value="{{ 'Save'|trans({}, 'systems') }}"/>
                            <a class="btn btn-sm btn-default"
                               href="javascript:history.go(-1)">{{ 'Cancel'|trans({}, 'systems') }}</a>
                        </div>
                    </form>
            </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}