{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block body %}
    {% embed 'UsersBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_roles_add') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <form>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <th><input type="checkbox" data-action="selectAll"/></th>
                                <th>ID</th>
                                <th>{{ 'Name'|trans({},'systems') }}</th>
                                <th>{{ 'Role'|trans({},'systems') }}</th>
                                <th>{{ 'Children'|trans({},'systems') }}</th>
                                <th>{{ 'Users'|trans({},'systems') }}</th>
                                <th>{{ 'Date update'|trans({},'systems') }}</th>
                                <th>{{ 'Update by'|trans({},'systems') }}</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for role in roles %}
                                    <tr>
                                        <td><input type="checkbox" value="{{ role.id }}" name="mark[]"/></td>
                                        <td>{{ role.id }}</td>
                                        <td>
                                            <a href="{{ url('cms_roles_edit', {'id': role.id}) }}">
                                                {{ role.name }}
                                            </a>
                                        </td>
                                        <td>{{ role.role }}</td>
                                        <td>
                                            {% if role.children|length  > 0 %}
                                                <ul class="list list-unstyled">
                                                    {% for child in role.children %}
                                                        <li>{{ child.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if role.users|length %}
                                                <ul class="list list-unstyled">
                                                    {% for user in role.users %}
                                                        <li>{{ user.lastName }} {{ user.name }} {{ user.middleName }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                        <td>{{ role.dateCreate|date('d.m.Y') }}</td>
                                        <td></td>
                                        <td><a href='{{ url('cms_roles_edit', {'id': role.id}) }}'><span
                                                        class="glyphicon lead text-primary glyphicon-pencil"></span></a>
                                        </td>
                                        <td><a href='{{ url('cms_roles_delete', {'id': role.id}) }}'><span
                                                        class="glyphicon lead text-danger glyphicon-remove-circle"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            </form>
        {% endblock %}
    {% endembed %}
{% endblock %}